.blackSquare {
    background-color: saddlebrown;
    width: 80px;
    height: 80px;
}
.whiteSquare {
    background-color: white;
    width: 80px;
    height: 80px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.table {
    horiz-align: center;
}

.div {
    horiz-align: center;
}
